<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>识别相册图片二维码.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>188EE54F1CAB6EC4006E0F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188EE5681CAB6EC4006E0F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188EE5731CAB6EC4006E0F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
